{% extends "base.html" %}{% block content %}
{% load  %}
<h1>mis proyectos</h1>
<div class="row align-items-center d-flex">
  {% for proyecto in proyectos %}

  <div class="card col-md-3 mx-2 p-0 " style="width: 25rem;">
    <img src="{{proyecto.imagen.url}}"  class="w-100" >
    <div class="card-body">
      <h5 class="card-title">{{ proyecto.titulo }}</h5>
      <p class="card-text"> {{ proyecto.descripcion }} </p>
      {% if request.user.is_authenticated %}
      <a href="{{ proyecto.url  }}" class="btn btn-primary"> ver</a>
      <a href="{{ proyecto.url  }}" class="btn btn-primary"> editar</a>
      <a href="{{ proyecto.url  }}" class="btn btn-primary"> eliminar </a>
      {% else %}
      <a href="{{ proyecto.url  }}" class="btn btn-primary"> ver</a>
      {% endif %}
   
    </div>
  </div>
  {% endfor %}

  <div>
    {% if idiomas %}

    {% for idioma in idiomas %}
    <h4>holis</h4>
    <p>{{ idioma.nombre }}</p>
    
    {% endfor %}
    {% else %}
    <p>ho hay nada</p>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}